html,body,p,h1,h2,h3,h4,table,tr,th,td,img,ul,li{margin:0;padding:0}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
}

#bigBox{padding:20px;}

.pb{display:inline-block;vertical-align: top;}

.tab-info-xsp{
    max-width:400px;
    width:100%;
    color:#333;
    tr{
        td{
            padding:5px;
        }
        td:first-child{
            width:120px;
            font-weight:bold;
        }
    }
}